<% body_id('players') %>

<h1><%= @player.name %></h1>

<table cellspacing="0" id="demos">
  <tr>
    <th>Uploaded</th>
    <th>Players</th>
    <th>Type</th>
    <th>Map</th>
    <th>DLs</th>
    <th>Rating</th>
  </tr>
  
  <%= partial 'demos/demo', :with => @demos.to_a %>
</table>